<h2 class="text-2xl font-bold mb-4 text-gray-800">Liens utiles</h2>
    <div class="grid grid-cols-4 gap-6 mb-8">
      <a href="https://ludovicdean.github.io/devendevenir" target="_blank" class="flex items-center">
        <img src="/images/logo.png" alt="" class="transition-transform duration-300 hover:scale-110" width="50" height="50" />
      </a>
      <a href="https://www.linkedin.com/feed/" target="_blank" class="flex items-center">
        <img src="/images/linkedin.png" alt="" class="transition-transform duration-300 hover:scale-110" width="60" height="60" />
      </a>
      <a href="https://github.com/ludovicdean/devendevenir" target="_blank" class="flex items-center">
        <img src="/images/github.png" alt="" class="transition-transform duration-300 hover:scale-110" width="60" height="60" />
      </a>
      <a href="https://unsplash.com/fr" target="_blank" class="flex items-center" >
        <img src="/images/unsplash.png" alt="" class="transition-transform duration-300 hover:scale-110" width="50" height="50" />
      </a>
    </div>