<h2 class="text-2xl font-bold mb-4 text-gray-800">Liens utiles</h2>

<div class="grid grid-cols-4 gap-6 mb-8">
  <app-image-link link="https://ludovicdean.github.io/devendevenir" logo="/images/logo.png" size="50" />
  <app-image-link link="https://www.linkedin.com/feed/" logo="/images/linkedin.png" size="60" />
  <app-image-link link="https://github.com/ludovicdean/devendevenir" logo="/images/github.png" size="60" />
  <app-image-link link="https://unsplash.com/fr" logo="/images/unsplash.png" size="50" />
</div>
