<div id="textarea" class="flex flex-col px-16 outline rounded-2xl mx-24">
  <form (ngSubmit)="onSubmit()" class="flex flex-col my-10">
      <textarea class="w-full h-24 text-lg bg-yellow-50"
        [(ngModel)]="textareaContent"
        name="textareaInput"
        placeholder="Saisissez votre texte ici"
        [ngModelOptions]="{ standalone: true }"
      ></textarea>
    <button type="submit" class="outline outline-yellow-400 p-3 rounded-md font-bold justify-center my-10" [ngClass]="backgroundColor ? 'bg-slate-950 outline-slate-950 text-yellow-400' : 'bg-yellow-400'">{{ buttonText}}</button>
  </form>
</div>
