<div class="px-6 py-4 bg-slate-50 border-t border-slate-100 flex justify-between">
    @if(context === "article"){
        <a [href]=" url ? url : baseUrl + 'blog/' + id" target="_blank" class="text-yellow-600 hover:text-yellow-700 font-medium" >Lire la suite →</a>
        @if (url) { <img src="/images/max.png" alt="" width="25" height="25" /> }
    }
    @else {
        <a [href]=" baseUrl + 'tags/' + id" target="_blank" class="text-yellow-600 hover:text-yellow-700 font-medium" >Lire la suite →</a>
    }
</div>